<div class="jumbotron">
<h1>
    <%= @campaign.name %>
</h1>

<p>By: <%= @campaign.identity_name %></p>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-8 col-md-8">
            <% if identity_signed_in? && (current_identity.id == @campaign.identity_id) %>
                <div class="alert alert-warning" role="alert">You can't donate to your own campaign</div>
            <% end %>
            <h2>Description:</h2>
            <p><%= @campaign.description %></p>
        </div>
        <div class="col-lg-4 col-md-4">
            <h3>Rewards: <%= @campaign.rewards.count %></h3>
            <% @campaign.rewards.each do |reward| %>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <%= reward.description%>
                    </div>
                    <% if identity_signed_in? && (current_identity.id != @campaign.identity_id) %>
                        <div class="panel-footer">
                            <a href="#" class="btn btn-info"><i class="fa fa-credit-card"></i> Donate</a>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>
