<%= form_for @organization, url: organization_path do |form| %>
  <% if @organization.errors.any? %>
    <h2>Form is invalid</h2>
    <ul>
      <% for message in @organization.errors.full_messages %>
        <li><%= message %>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </p>
  <p>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>

    </p>

<p>
    <%= form.label :Name %>
    <%= form.text_field :Name %>
</p>

<p>
    <%= form.label :Address %>
    <%= form.text_field :Address %>

</p>

<p>
    <%= form.label :Description %>
    <%= form.text_field :Description %>
</p>

<p>
    <%= form.label :RFC %>
    <%= form.text_field :RFC %>
</p>

<p>
    <%= form.label :Paypal %>
    <%= form.text_field :Paypal %>
</p>

<p class='button'><%= form.submit t('.create')%></p>
<% end %>
